.technologiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techImageIcon {
    width: 60px;
    height: 60px;
}
.technologyText{
    text-align: center;
}

img {
    vertical-align: middle;
    border-style: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cardContainerTech{
    padding: 10px;
}

.logoImg{
    width: 150px;
}

.section {
    background-color: #ffff;
}

.infoContainer{
    display: flex;
    align-items: center;
}

.service-box{
    padding: 40px;
    width: 275px;
    height: 275px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 25, 50, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 25, 50, 0.1);
}

.service-box img{
    margin-bottom: 10px;
}
.service-box:hover{
    background-color: #f4dbff;
}
.pd-15{padding:  15px;}
.service-box .read-more{
    color: #ed305d;
    text-transform: uppercase;
    font-weight: 600;
}
.service-box .read-more:hover{
    text-decoration: underline;
}
